* {
    box-sizing: border-box;
    }

body {
    background-color: black;
    color: white;
    text-decoration: none;
    }
    
/* navigaatiot */ 

.header {
    padding: 30px;
    text-align: center;
    font-size: 35px;
}
    
.nav {
    margin: auto;
    width: 40%;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    }

a:link, a:visited {
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }
      
a:hover, a:active {
    background-color: white;
    color: green;
    }

.main {
    margin: auto;
    width: 90%;
    }

.section {
    margin: auto;
    width: 90%;
    }

.section-c {
    margin: auto;
    width: 90%;
    text-align: center;
    }

.article {
    text-align: left;
    }

.aside  {
    text-align: left;
    }

.footer {
    text-align: left;
    }

.column-rules {
    border: 1px solid white;
    width:fit-content;
    padding: 5%;
    text-align: center;
    margin: auto;
    }

/* nappulat */


/* linkit */
a:link {
    text-decoration: none;
    color: white;
  }
  
a:visited {
    text-decoration: none;
    color: white;
  }
  
a:hover {
    text-decoration: none;
    color: black;
  }
  
a:active {
    text-decoration: none;
    color: black;
  }

/* tyylit */ 
.alphabullet {
    list-style-type: lower-alpha;
    }

.boxbullet {
    list-style-type: square;
    }

/* muotoilut */

div.nomics {
    display: block;
    margin-left: 20%;
    margin-right: 20%;   
    }

video.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

.warning {
    border: 20px outset red;
    color: black;
    background-color: yellow;
    font-size: 40px;
    width: 60%;
    text-align: center;
    margin: auto;
    }