* {
    box-sizing: border-box;
}

body {
    background-color: darkgrey;
    color: white;
    text-decoration: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}
    
/* navigaatiot */ 

.header {
    padding: 30px;
    text-align: center;
    font-size: 35px;
    background-color: thistle;
}
    
.nav {
    float: center;
    display: block;
    text-align: center;
    background-color: lightgreen;
}

.nav2 {
    float: left;
    display: block;
    overflow: hidden;
    text-align: center;
    background-color: cyan;
    width: 20%;
    
}

/* clear floats after the columns */

section::after {
    content: "";
    display: table;
    clear: both;
}

a:link, a:visited {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
      
a:hover, a:active {
    background-color: white;
    color: green;
}

.main {
    margin: auto;
}

.article {
    float: left;
    background-color: cornflowerblue;
    width: 80%;
    padding: 20 px;
}

.aside  {
    text-align: left;
}

.footer {
    text-align: center;
    color: darkslategrey;
    background-color: lightgrey;
    padding: 20px;
    float: bottom;
}

.column-rules {
    border: 1px solid white;
    width:fit-content;
    padding: 5%;
    text-align: center;
    margin: auto;
}

/* clearfix hack */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* nappulat */


/* linkit */
a:link {
    text-decoration: none;
    color: white;
}
  
a:visited {
    text-decoration: none;
    color: white;
}
  
a:hover {
    text-decoration: none;
    color: green;
}
  
a:active {
    text-decoration: none;
    color: green;
}


/* tyylit */ 
.alphabullet {
    list-style-type: lower-alpha;
}

.boxbullet {
    list-style-type: square;
}

/* muotoilut */

div.nomics {
    display: block;
    margin-left: 20%;
    margin-right: 20%;   
}

video.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#center {
    text-align: center;
}

#warning {
    border: 20px outset red;
    color: black;
    background-color: yellow;
    font-size: 40px;
    width: 60%;
    text-align: center;
    margin: auto;
}