body {
  background-color: black;
  color: white;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
h1 {
  font-size: 20px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.kirjaimet{
  list-style-type: lower-alpha;
}
.neliot{
  list-style-type: square;
}
p {
  font-size: 12px;
  color: green;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.tyyli {
    border-style: dotted;
    border-color: white;
    border-width: 2px;
    width: 100px;
    height: 100px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.warning {
  border: 30px outset red;
  color: black;
  background-color: yellow;
  text-align: center;
  font-size: 40px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
