body {
  background-color: black;
  color: white;
}
h1 {
  font-size: 30px;
}
h3 {
  border-style: solid;
}
p {
  font-size: 20px;
  background-color: darkslategray;
  border-radius: 10%;
  width: max-content;
}
.tyyli {
    border-style: dotted;
    border-color: white;
    border-width: 2px;
}
.kirjaimet {
  list-style-type: lower-alpha;
}
.neliot {
  list-style-type: square;
}
.warning {
  border: 30px outset red;
  border-radius: 10%;
  color: black;
  background-color: yellow;
  text-align: center;
  font-size: 40px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}